<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/imagemapster.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
  </head>
  <style>
  body {
    background-color: #6294e5;
  }
  .top-buffer { margin-top:20px; }

  .row.match-my-cols {
    overflow: hidden; 
  }

  .row.match-my-cols [class*="col-"]{
      margin-bottom: -99999px;
      padding-bottom: 99999px;
  }
  .highlight
  {
      color: white;
      text-shadow:
      -1px -1px 0 #c1c1c1,
      1px -1px 0 #c1c1c1,
      -1px 1px 0 #c1c1c1,
      1px 1px 0 #c1c1c1;  
  }
  .colorbox {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
  }

  .red {
    background: red;
  }

  .blue {
    background: blue;
  }

  .yellow {
    background: yellow;
  }

  .green {
    background: green;
  }
  </style>
  <body>
    <input type="hidden" id="gameid" value="{{gameid}}">
    <div class="container-fluid">
      <div class="row match-my-cols top-buffer">
        <div class="col-md-9" style="height: 100%;">
          <div class="col-md-12 panel panel-default">
            <div class="panel-body">
              <ul class="nav nav-pills">
                <li role="presentation" id="draftpill" class="disabled"><a href="#">Draft</a></li>
                <li role="presentation" id ="attackpill" class="disabled"><a href="#">Attack</a></li>
                <li role="presentation" id="fortifypill" class="disabled"><a href="#">Fortify</a></li>
              </ul>
              <br>
              <!-- TODO Hook these up to the server via handlebars/socket -->
              <div id="setupText" class="hidden"> Currently waiting for other players to join the game. The game will begin automatically when there are four players. </div>
              <div id="draftText" class="hidden"> You may draft <span id="draft-amount"></span> units this turn. Please click on the map to place them. 
                <br> <button type="button" class="btn btn-danger" onclick="endPhase();">End Phase</button></div>
              <div id="attackText" class="hidden"> You may now attack! Please click on the territory you want to attack from, then an adjacent territory you are attacking. <br> <button type="button" class="btn btn-danger">End Phase</button></div>
              <div id="fortifyText" class="hidden"> You may now foritfy your position. Please click on the territory you want to move troops from, then an adjacent territory to move the troops into. <br> <button type="button" class="btn btn-danger">End Turn</button></div>
              <div id="waitingText" class="hidden"> It is not your turn yet. </div>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 panel panel-default">
            <ul class="list-group" id="players">
            </ul>
          </div>
        </div>
      </div>
      <div class="row match-my-cols top-buffer">
        <div class="col-md-9" id="mapdiv">
          <div class="col-md-12 panel panel-default">
            <div class="panel-body">
              <img id="planetmap" src="/img/risk.jpg" class="img-responsive" alt="Planets" usemap="#planetmap">
              
                <map name="planetmap">
                    <area href="#" id="27" name="middleEast" alt="middleEast" title="middleEast" coords="543,292,551,300,576,292,587,298,603,300,628,294,644,303,652,297,666,298,673,305,678,318,680,334,684,343,686,360,679,368,669,373,661,368,650,368,648,348,640,351,640,365,650,375,662,379,669,381,678,389,682,406,674,416,666,425,654,438,641,444,623,444,611,421,597,404,584,389,572,375,580,358,580,339,573,336,567,339,553,336,536,330,531,317,536,305,543,300" shape="poly" onclick="territoryClicked('middleEast')">
                    <area href="#" id="37" alt="india" title="india" coords="676,305,683,305,690,296,699,289,709,296,724,288,737,290,735,303,733,313,745,322,756,324,769,330,784,332,792,344,779,368,773,377,767,379,760,400,754,427,745,457,738,455,722,419,716,402,720,379,712,383,703,372,687,360,684,343,678,326" shape="poly" onclick="territoryClicked('india')">
                    <area href="#" id="28" alt="afghanistan" title="afghanistan" coords="649,294,648,280,641,268,635,252,637,238,627,243,618,232,616,213,629,202,644,198,656,194,669,188,682,198,688,213,709,219,731,230,728,246,722,261,712,268,721,287,712,295,699,290,688,297,679,307,665,296" shape="poly" onclick="territoryClicked('afghanistan')">
                    <area href="#" id="36" alt="china" title="china" coords="742,209,755,213,764,226,775,232,779,245,792,258,803,264,822,264,840,268,865,273,877,285,877,300,881,311,878,323,874,338,860,353,851,364,841,357,828,347,817,359,805,344,792,340,784,330,771,330,750,321,733,313,738,302,735,289,721,285,712,269,728,253,728,234,734,219" shape="poly" onclick="territoryClicked('china')">
                    <area href="#" id="29" alt="ural" title="ural" coords="726,231,741,214,745,200,728,179,720,167,730,159,722,148,724,133,709,114,703,91,695,80,687,91,679,97,686,78,678,66,680,55,666,44,662,57,661,66,670,80,667,93,661,106,663,123,661,141,665,149,661,159,670,165,667,174,669,186,680,197,688,209,703,218" shape="poly" onclick="territoryClicked('ural')">
                    <area href="#" id="30" alt="siberia" title="siberia" coords="699,77,686,70,686,53,696,63,692,49,697,40,728,21,750,18,758,13,762,18,775,21,773,34,779,36,792,35,798,38,800,49,806,60,800,76,792,77,779,85,788,92,792,106,797,122,793,135,796,147,792,159,779,155,769,164,762,168,767,178,762,191,771,199,773,214,771,229,758,214,743,208,737,186,725,176,728,155,728,147,722,127,707,114,703,94" shape="poly" onclick="territoryClicked('siberia')">
                    <area href="#" id="35" alt="mongolia" title="mongolia" coords="773,197,796,201,813,201,831,198,837,178,847,174,864,193,869,197,868,206,877,210,885,223,878,235,882,245,894,254,892,265,885,270,882,259,873,252,865,256,864,246,856,254,860,261,870,265,864,271,843,267,826,265,805,263,788,254,777,244,772,228,772,220" shape="poly" onclick="territoryClicked('mongolia')">
                    <area href="#" id="33" alt="irkutsk" title="irkutsk" coords="771,194,792,201,805,201,827,199,835,189,834,178,847,174,856,186,870,204,870,185,873,172,862,159,852,161,835,142,837,115,820,110,813,115,807,121,796,125,793,138,796,151,792,159,784,151,769,161,764,168,764,182,763,193" shape="poly" onclick="territoryClicked('irkutsk')">
                    <area href="#" id="34" alt="japan" title="japan" coords="923,171,919,178,925,186,921,197,924,205,921,213,923,220,920,231,915,239,911,250,902,255,898,267,894,276,902,286,904,292,911,286,913,275,924,271,930,264,936,255,945,254,953,241,949,224,946,212,934,199,946,195,953,183,946,174,936,174" shape="poly" onclick="territoryClicked('japan')">
                    <area href="#" id="38" alt="siam" title="siam" coords="823,442,810,424,813,409,806,397,792,397,779,367,792,344,800,339,817,362,830,346,840,358,835,370,847,386,852,397,856,407,851,425,839,434,832,417,822,407,828,422,831,441" shape="poly" onclick="territoryClicked('siam')">
                    <area href="#" id="31" alt="yakutsk" title="yakutsk" coords="799,39,812,32,819,34,821,46,828,47,835,43,844,43,844,36,861,37,865,37,874,43,880,47,878,55,869,64,867,71,874,81,874,94,861,96,857,89,844,98,840,113,818,113,808,123,799,125,797,113,791,98,789,88,780,85,791,76,801,77,806,59,807,49" shape="poly" onclick="territoryClicked('yakutsk')">
                    <area href="#" id="32" alt="kamchatka" title="kamchatka" coords="881,48,889,44,898,50,915,52,923,50,934,47,950,56,963,65,970,65,983,73,981,82,970,89,954,77,963,94,945,116,933,119,936,130,936,148,937,164,929,168,919,156,917,126,928,105,919,105,920,110,915,118,907,109,911,122,900,124,881,122,868,143,877,148,883,148,889,162,896,185,896,211,889,221,879,216,869,211,873,199,873,173,862,158,851,165,851,156,837,141,835,111,843,102,853,88,860,93,873,94,875,82,868,75,868,65,877,56" shape="poly" onclick="territoryClicked('kamchatka')">
                    <area href="#" id="16" alt="southAfrica" title="southAfrica" coords="500,533,504,546,506,558,501,567,498,578,501,594,508,603,505,622,517,641,518,653,529,660,543,658,563,646,581,620,581,604,593,588,610,581,607,553,597,554,584,558,584,573,576,556,567,546,564,554,561,560,553,554,542,554,534,539,521,537,508,529" shape="poly" onclick="territoryClicked('southAfrica')">
                    <area href="#" id="14" alt="northAfrica" title="northAfrica" coords="471,484,449,486,436,482,425,485,409,469,394,446,394,421,392,405,402,396,411,376,419,355,437,353,449,346,457,347,479,342,491,351,508,347,508,358,500,366,492,378,495,393,504,405,517,410,534,423,539,427,542,446,540,464,521,477,518,497,508,503,493,505,493,494" shape="poly" onclick="territoryClicked('northAfrica')">
                    <area href="#" id="18" alt="eastAfrica" title="eastAfrica" coords="589,413,567,417,551,415,538,425,540,451,539,463,551,475,555,487,574,495,584,496,577,509,570,518,563,527,567,537,572,546,577,561,580,572,584,557,593,555,601,550,601,537,615,516,635,500,644,479,648,461,623,466,611,449,601,442,597,432,594,419" shape="poly" onclick="territoryClicked('eastAfrica')">
                    <area href="#" id="15" alt="congo" title="congo" coords="542,463,553,480,555,488,561,492,580,493,584,502,567,527,564,543,561,544,564,543,563,553,563,559,555,556,546,557,539,553,536,543,529,536,521,538,513,532,500,528,491,515,491,507,504,504,521,498,521,479" shape="poly"  onclick="territoryClicked('congo')">
                    <area href="#" id="17" alt="madagascar" title="madagascar" coords="654,555,665,563,665,576,663,584,658,593,658,600,644,633,635,643,622,644,614,634,612,621,622,606,626,584,638,580,646,568,654,563" shape="poly" onclick="territoryClicked('madagascar')">
                    <area href="#" id="19" alt="egypt" title="egypt" coords="527,419,517,410,508,409,500,399,491,378,504,366,512,366,529,376,536,370,546,372,563,376,572,374,578,388,580,397,587,414,565,416,551,416,538,425" shape="poly" onclick="territoryClicked('egypt')">
                    <area href="#" id="13" alt="brazil" title="brazil" coords="301,392,288,400,264,402,258,389,250,396,243,400,233,404,224,404,220,417,216,421,205,426,200,438,208,444,216,444,220,457,237,451,247,459,258,463,271,476,279,497,288,508,290,518,284,531,290,539,298,559,305,542,313,529,313,515,326,506,336,506,351,474,351,461,368,446,373,432,356,415,332,412,318,408" shape="poly" onclick="territoryClicked('brazil')">
                    <area href="#" id="12" alt="argentina" title="argentina" coords="216,489,220,524,220,546,218,557,212,573,224,598,220,621,224,625,226,645,241,660,254,664,259,659,250,647,252,632,258,621,251,615,258,605,255,591,267,586,284,581,288,569,296,553,288,537,280,526,273,520,271,510,254,499,239,495,234,501" shape="poly" onclick="territoryClicked('argentina')">
                    <area href="#" id="11" alt="peru" title="peru" coords="289,517,275,526,273,510,260,507,254,500,241,498,237,502,217,488,201,473,186,460,179,445,167,435,166,416,178,397,212,420,201,434,209,443,217,443,216,452,224,456,237,449,254,460,259,462,275,483,275,496,284,500" shape="poly" onclick="territoryClicked('peru')">
                    <area href="#" id="10" alt="venezuela" title="venezuela" coords="182,397,186,390,183,379,196,363,216,350,237,362,252,361,262,366,272,375,280,380,296,380,301,387,290,399,273,403,264,399,258,387,252,391,241,392,243,400,233,404,224,399,222,407,220,418,212,417,195,409" shape="poly" onclick="territoryClicked('venezuela')">
                    <area href="#" id="7" alt="westernUS" title="westernUS" coords="106,190,195,190,195,237,186,242,178,242,178,250,170,255,165,268,161,276,161,287,152,285,144,278,131,278,121,274,107,266,101,253,101,225,103,209,107,200" shape="poly" onclick="territoryClicked('westernUS')">
                    <area href="#" id="4" alt="alberta" title="alberta" coords="93,119,127,119,135,122,182,123,182,143,178,147,178,168,178,190,106,190,104,175,95,166,106,153,97,140,101,128" shape="poly" onclick="territoryClicked('alberta')">
                    <area href="#" id="42" alt="westernAustralia" title="westernAustralia" coords="898,526,898,536,899,549,899,565,903,587,945,589,941,617,945,640,936,646,925,638,913,629,894,628,881,634,875,644,865,642,856,653,843,650,847,637,834,621,828,600,823,587,834,579,852,568,862,552,858,561,868,544,879,530,887,538" shape="poly" onclick="territoryClicked('westernAustralia')">
                    <area href="#" id="41" alt="easternAustralia" title="easternAustralia" coords="898,523,898,543,902,551,903,586,945,590,940,619,945,638,937,646,940,655,950,661,966,661,983,657,1000,619,997,587,987,573,985,566,970,557,966,540,953,513,945,553,923,538,932,526,915,518" shape="poly" onclick="territoryClicked('easternAustralia')">
                    <area href="#" id="39" alt="indonesia" title="indonesia" coords="775,465,796,477,814,503,822,482,844,457,858,462,856,477,860,485,873,485,877,479,882,485,875,498,869,508,873,515,873,523,864,521,864,542,851,546,839,544,827,546,818,537,794,508,772,478" shape="poly" onclick="territoryClicked('indonesia')">
                    <area href="#" id="40" alt="newGuinea" title="newGuinea" coords="877,451,887,439,898,443,911,443,930,448,937,455,945,457,946,466,955,474,955,487,961,493,958,503,949,503,940,493,932,498,916,496,904,491,902,472,887,468" shape="poly" onclick="territoryClicked('newGuinea')">
                    <area alt="alaska" title="alaska" href="#" id="1" coords="94,159,89,146,80,138,73,131,59,125,53,131,46,132,38,142,29,150,21,148,25,140,25,132,17,129,17,123,9,112,14,103,25,99,17,93,17,86,29,85,23,72,34,74,40,66,51,61,59,59,68,65,78,68,89,72,86,86,85,104,87,116,95,118,97,128,101,132,99,140,104,145,101,157" shape="poly" onclick="territoryClicked('alaska')">
                    <area alt="northWestTerritory" title="northWestTerritory" href="#" id="2" coords="87,72,101,69,104,74,114,72,127,70,135,65,140,65,144,70,150,72,165,80,176,82,182,72,199,75,203,67,213,76,212,61,224,48,234,44,230,54,229,61,233,74,248,74,254,82,243,97,233,99,229,107,218,113,209,122,182,122,140,122,131,121,97,120,87,116" shape="poly" onclick="territoryClicked('northWestTerritory')">
                    <area alt="ontario" title="ontario" href="#" id="5" coords="182,122,180,141,178,148,178,167,178,189,195,190,203,188,207,192,217,188,224,194,229,202,239,209,241,192,239,176,237,165,237,156,229,155,216,150,209,141,208,124" shape="poly" onclick="territoryClicked('ontario')">
                    <area alt="quebec" title="quebec" href="#" id="6" coords="241,203,241,190,241,175,243,160,254,149,250,132,256,126,255,114,275,113,284,122,284,135,292,128,298,128,301,136,305,149,313,157,315,162,322,166,322,173,314,179,305,186,290,190,292,202,301,204,301,216,294,217,289,228,280,228,280,216,282,204,272,203,265,211,256,212" shape="poly" onclick="territoryClicked('quebec')">
                    <area alt="easternUS" title="easternUS" href="#" id="8" coords="195,190,195,235,190,242,179,245,178,251,169,256,165,262,165,269,159,275,161,286,169,297,182,290,187,292,201,289,212,290,222,290,224,305,229,311,237,309,239,294,237,285,254,268,260,262,258,255,267,242,271,231,279,218,280,209,275,201,269,207,258,212,250,205,238,207,229,201,221,190,209,193" shape="poly" onclick="territoryClicked('easternUS')">
                    <area alt="centralAmerica" title="centralAmerica" href="#" id="9" coords="106,266,114,269,121,270,127,277,144,279,152,286,161,287,167,299,167,307,165,313,166,321,176,325,186,315,195,319,193,325,186,333,190,341,193,346,184,361,195,362,191,368,184,378,173,376,166,362,161,353,159,341,148,337,140,332,140,319,135,304,121,285,125,300,131,313,131,321,123,313,116,304,114,294,110,281" shape="poly" onclick="territoryClicked('centralAmerica')">
                    <area alt="greenland" title="greenland" href="#" id="3" coords="288,64,267,63,267,60,271,54,269,47,275,45,279,37,288,36,305,22,309,28,322,21,339,8,347,7,352,10,360,8,377,12,381,17,370,21,377,23,390,19,402,19,392,40,394,50,394,57,390,65,385,69,390,78,381,80,381,86,373,87,360,99,349,109,341,112,334,127,334,139,323,141,310,133,311,121,305,109,313,99,305,93,309,86,298,72" shape="poly" onclick="territoryClicked('greenland')">
                    <area alt="iceland" title="iceland" href="#" id="22" coords="403,109,411,118,419,115,426,113,434,108,443,110,454,121,453,129,449,138,437,144,428,153,413,149,402,146,400,138,394,134,398,129,394,123" shape="poly" onclick="territoryClicked('iceland')">
                    <area alt="greatBritain" title="greatBritain" href="#" id="21" coords="406,156,411,165,419,171,419,179,412,185,417,194,421,198,430,208,441,221,437,228,437,237,425,241,411,242,404,245,395,246,390,249,398,238,394,233,398,225,392,220,383,242,373,245,360,242,356,233,364,226,364,211,373,202,378,195,394,198,390,190,387,179,391,166,398,161" shape="poly" onclick="territoryClicked('greatBritain')">
                    <area alt="scandinavia" title="scandinavia" href="#" id="23" coords="466,161,464,150,462,136,466,127,479,118,487,110,489,103,498,95,498,89,502,86,508,89,512,85,517,76,525,73,530,76,538,73,551,77,546,89,546,102,546,112,551,128,553,140,544,146,527,148,525,138,525,125,519,133,515,138,518,146,517,152,512,161,508,167,508,175,504,182,498,182,491,174,487,165,479,165,471,167" shape="poly" onclick="territoryClicked('scandinavia')">
                    <area alt="ukraine" title="ukraine" href="#" id="26" coords="551,78,565,79,584,82,589,92,584,98,576,99,563,102,570,111,573,115,576,109,584,109,590,105,594,100,594,85,603,88,608,92,627,77,635,79,648,75,659,77,665,83,667,92,667,99,661,108,665,124,663,132,661,138,665,147,662,157,669,166,667,172,669,187,656,197,649,196,644,200,635,198,631,204,624,202,623,212,616,217,618,227,627,242,620,256,628,272,632,276,631,282,628,294,616,299,606,299,584,277,589,265,573,265,576,272,572,278,559,272,553,276,546,270,543,256,538,248,529,242,529,235,536,231,543,217,538,206,536,196,525,187,522,174,527,164,534,167,529,155,540,151,551,137,547,124,546,105,546,91" shape="poly" onclick="territoryClicked('ukraine')">
                    <area alt="northernEurope" title="northernEurope" href="#" id="24" coords="489,187,500,187,510,184,522,186,535,193,538,203,542,215,538,232,529,233,526,242,521,250,521,263,510,265,508,253,498,250,489,252,485,258,476,263,464,261,462,254,450,241,453,232,453,223,470,208,476,197,479,189,479,180,483,174,487,178" shape="poly" onclick="territoryClicked('northernEurope')">
                    <area alt="southernEurope" title="southernEurope" href="#" id="25" coords="551,281,543,292,539,297,534,311,534,320,526,322,534,330,529,334,534,340,525,343,518,341,515,331,512,320,505,305,497,298,492,303,502,318,495,318,497,326,484,335,472,336,466,331,479,328,481,320,476,311,470,307,470,300,464,294,462,286,459,281,463,277,464,263,479,263,488,262,493,252,506,254,508,264,521,264,521,256,530,245,536,247,542,255,544,271" shape="poly" onclick="territoryClicked('southernEurope')">
                    <area alt="westernEurope" title="westernEurope" href="#" id="20" coords="449,240,458,255,462,262,462,274,457,278,462,285,462,295,464,301,453,302,451,310,451,317,453,327,449,333,445,340,441,347,433,351,430,356,421,353,411,348,394,346,386,340,390,326,392,314,385,304,392,295,402,295,413,292,415,283,409,271,406,264,419,259,425,251,436,253,440,246" shape="poly" onclick="territoryClicked('westernEurope')">
                </map>

              <div id="deployModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">×</span>
                  <form id='myform' method='POST' action='#'>
                    <input type='button' value='-' class='qtyminus' field='quantity' />
                    <input type='text' id="deployValue" name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus' field='quantity' /><br><br>
                    <input type='button' id="deploy" value='Deploy' class='deploy' />
                </form>
                </div>

              </div>

              <div id="reinforceModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">×</span>
                  <form id='myform' method='POST' action='#'>
                    <input type='button' value='-' class='qtyminus' field='quantity' />
                    <input type='text' id="reinforceValue" name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus' field='quantity' /><br><br>
                    <input type='button' id="reinforce" value='Reinforce' class='button' />
                </form>
                </div>

              </div>

              <div id="middleEastText" class="text highlight" style="position: absolute;top: 355px;left: 615px"></div>
              <div id="indiaText" class="text highlight" style="position: absolute;top: 365px;left: 740px"></div>
              <div id="afghanistanText" class="text highlight" style="position: absolute;top: 245px;left: 685px"></div>
              <div id="chinaText" class="text highlight" style="position: absolute;top: 295px;left: 800px"></div>
              <div id="uralText" class="text highlight" style="position: absolute;top: 155px;left: 700px"></div>
              <div id="siberiaText" class="text highlight" style="position: absolute;top: 120px;left: 755px"></div>
              <div id="mongoliaText" class="text highlight" style="position: absolute;top: 230px;left: 830px"></div>
              <div id="irkutskText" class="text highlight" style="position: absolute;top: 160px;left: 820px"></div>
              <div id="japanText" class="text highlight" style="position: absolute; top: 235px;left: 938px"></div>
              <div id="siamText" class="text highlight" style="position: absolute;top: 380px;left: 820px"></div>
              <div id="yakutskText" class="text highlight" style="position: absolute;top: 70px;left: 835px"></div>
              <div id="kamchatkaText" class="text highlight" style="position: absolute;top: 75px;left: 915px"></div>
              <div id="southAfricaText" class="text highlight" style="position: absolute;top: 595px;left: 550px"></div>
              <div id="northAfricaText" class="text highlight" style="position: absolute;top: 430px;left: 470px"></div>
              <div id="eastAfricaText" class="text highlight" style="position: absolute;top: 465px;left: 585px"></div>
              <div id="congoText" class="text highlight" style="position: absolute;top: 513px;left: 545px"></div>
              <div id="madagascarText" class="text highlight" style="position: absolute;top: 605px;left: 640px"></div>
              <div id="egyptText" class="text highlight" style="position: absolute;top: 395px;left: 545px"></div>
              <div id="brazilText" class="text highlight" style="position: absolute;top: 440px;left: 305px"></div>
              <div id="argentinaText" class="text highlight" style="position: absolute;top: 560px;left: 255px"></div>
              <div id="peruText" class="text highlight" style="position: absolute;top: 475px;left: 240px"></div>
              <div id="venezuelaText" class="text highlight" style="position: absolute;top: 380px;left: 220px"></div>
              <div id="westernUSText" class="text highlight" style="position: absolute;top: 220px;left: 150px"></div>
              <div id="albertaText" class="text highlight" style="position: absolute;top: 150px;left: 145px"></div>
              <div id="westernAustraliaText" class="text highlight" style="position: absolute;top: 595px;left: 870px"></div>
              <div id="easternAustraliaText" class="text highlight" style="position: absolute;top: 600px;left: 970px"></div>
              <div id="indonesiaText" class="text highlight" style="position: absolute;top: 490px;left: 840px"></div>
              <div id="newGuineaText" class="text highlight" style="position: absolute;top: 470px;left: 925px"></div>
              <div id="alaskaText" class="text highlight" style="position: absolute;top: 94px;left: 60px"></div>
              <div id="northWestTerritoryText" class="text highlight" style="position: absolute;top: 90px;left: 140px"></div>
              <div id="ontarioText" class="text highlight" style="position: absolute;top: 165px;left: 212px"></div>
              <div id="quebecText" class="text highlight" style="position: absolute;top: 165px;left: 285px"></div>
              <div id="easternUSText" class="text highlight" style="position: absolute;top: 252px;left: 220px"></div>
              <div id="centralAmericaText" class="text highlight" style="position: absolute;top: 310px;left: 155px"></div>
              <div id="greenlandText" class="text highlight" style="position: absolute;top: 60px;left: 345px"></div>
              <div id="icelandText" class="text highlight" style="position: absolute;top: 130px;left: 430px"></div>
              <div id="greatBritainText" class="text highlight" style="position: absolute;top: 205px;left: 410px"></div>
              <div id="scandinaviaText" class="text highlight" style="position: absolute;top: 115px;left: 505px"></div>
              <div id="ukraineText" class="text highlight" style="position: absolute;top: 185px;left: 590px"></div>
              <div id="southernEuropeText" class="text highlight" style="position: absolute;top: 285px;left: 520px"></div>
              <div id="northernEuropeText" class="text highlight" style="position: absolute;top: 220px;left: 505px"></div>
              <div id="westernEuropeText" class="text highlight" style="position: absolute;top: 310px;left: 430px"></div>
              <script>
              $('#planetmap').mapster({
                  fillOpacity: 0,
                  stroke: true,
                  strokeColor: "00001f",
                  strokeOpacity: 1,
                  strokeWidth: 4,
                onMouseover: function(){
                    $(this).mapster('set', false).mapster('set', true);
                      },
                 onMouseout: function (e) {
                           $(this).mapster('set', false);
                       },
                          
                });
                </script>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-12 panel panel-default">
            <div id="chatFrame" >
              	<ul id="messages"></ul>
              	<form id="messageForm" action="">
              		<input id="text" sautocomplete="off" placeholder="Message..."/><button id="sendButton">Send</button>
              	</form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>